/* Home Page Container */
.home-container {
    display: grid;
    padding: 50px;
    color: white;
}

/* Featured Program Section */
.featured-program {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.featured-program h2 {
    font-size: 35px;
    font-weight: bold;
}

.channel-info {
    display: flex;
    padding-left: 18px;
    align-items: center;
    gap: 45px;
    font-size: 16px;
}

.channel-info img {
    width: 50px;
}

.buttons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-direction: row;
}

.watch-now, .more-info {
    width: 175px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    background: rgb(255 255 255 / 0%);
    color: #cdcccc;
    border: #fff 1px solid;
    border-radius: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 5px
}


/* Recent Channels & Favorite Apps */
.recent-channels, .favorite-apps {
    width: 96%;
    margin: 0 auto; /* Centers the div */
    display: flex;
    flex-wrap: wrap;
}

.recent-channels h3, .favorite-apps h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.channel-list, .app-list {
    width: 96%;
    display: flex;
    gap: 25px;
    overflow: hidden;
}

.channel-list img, .app-list img {
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    overflow: inherit;
    transition: transform 0.3s;
}

.channel-list img:hover, .app-list img:hover {
    transform: scale(1.1);
}
