body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #313131;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tv-container {
    width: 68%;
    aspect-ratio: 12 / 7;
    background: #081733;
    right: 13%;
    border: 5px solid #b7b5b5;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 3px rgb(165 165 165 / 50%);
    overflow: hidden;
    position: relative;
}

.tv-screen {
    background: #0056b3;
    margin: 2px;
}

header, footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}