@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset Styles */
body {
    background: #0c1c3a;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header Navigation */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    margin: 30px;
    font-size: 20px;
}

.nav span {
    margin-right: 25px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}

.nav span:hover{
    color: #0c1c3a;
    background-color: #fff;
}

.nav-right {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: 100;
    margin-right: 15px;
}

.optimumWord {
    font-weight: 900;
}

.optimumDot {
    color: #f66608;
    font-weight: 900;
}

.time {
    font-size: 20px;
    font-weight: 900;
}


/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76); /* Semi-transparent black */
    display: none; /* Initially hidden */
    z-index: 9999; /* Ensure it's on top of all other content */
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
  }
  
  /* Optional: Add content to the overlay, like a loading spinner or message */
  .overlay:before {
    content: "Welcome to Stream"; /* Add your custom content here */
    color: white;
    font-size: 84px;
    font-weight: bold;
  }
  

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

/* Home Page Container */
.home-container {
    display: grid;
    padding: 50px;
    color: white;
}

/* Featured Program Section */
.featured-program {
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.featured-program h2 {
    font-size: 35px;
    font-weight: bold;
}

.channel-info {
    display: flex;
    padding-left: 18px;
    align-items: center;
    gap: 45px;
    font-size: 16px;
}

.channel-info img {
    width: 50px;
}

.buttons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-direction: row;
}

.watch-now, .more-info {
    width: 175px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    background: rgb(255 255 255 / 0%);
    color: #cdcccc;
    border: #fff 1px solid;
    border-radius: 50px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 5px
}


/* Recent Channels & Favorite Apps */
.recent-channels, .favorite-apps {
    width: 96%;
    margin: 0 auto; /* Centers the div */
    display: flex;
    flex-wrap: wrap;
}

.recent-channels h3, .favorite-apps h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.channel-list, .app-list {
    width: 96%;
    display: flex;
    gap: 25px;
    overflow: hidden;
}

.channel-list img, .app-list img {
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    overflow: inherit;
    transition: transform 0.3s;
}

.channel-list img:hover, .app-list img:hover {
    transform: scale(1.1);
}


/* ON DEMAND  */
.guide-container, .onDemend-container, .sports-container, .dvr-container, .apps-container{
    display: grid;
    padding: 50px;
    color: white;
    justify-content:center;
}


.settings-container {
    margin: 25px 85px 90px 50px;
    width: 80%;
    max-width: 1000px;
}

.settings-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.settings-menu {
    flex: 1.2;
    max-width: 750px;
}

.settings-description {
    position: relative;
    left: 20%;
    top: 20rem;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cdcccc;
    font-size: 22px;
    font-weight: 400;
}

/* Titles */
h1, h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.sub-header {
    color: #8d8d8d;
    font-weight: 400;
}

/* Menu Buttons */
.menu-button {
    width: 100%;
    padding: 15px 35px;
    font-family: inherit;
    font-size: 18px;
    background: rgb(255 255 255 / 7%);
    color: #cdcccc;
    border: #fff 1px solid;
    border-radius: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-button:hover {
    color: #002864;
    font-weight: 900;
    background: rgb(238, 237, 237);
}

.arrow {
    font-size: 20px;
}
